<h1> this is the appointment form<h1>
<form action='/appointments' method="POST">
Client Name: <input type=text name="name"><br>
Email: <input type=text name="email"><br>
Date and Time of Service: <input type="datetime-local" name="date"><br>
Rate: $<input type=text name="rate"><br>
<input type=submit value="Book Appointment">
</form>


