


<nav>
    <ul>
        <li>
            <a href="/clients/new">New Client</a>
        </li>
        <li class="nav__border">
            <a href="/clients">My Clients</a>
        </li>
        <li>
             <a href="/logout">Log Out</a>
        </li>
    </ul>
</nav>

<h3>Welcome <%= @user.username %>!</h3>
    <p><b>About</b></p>
    <br>
    <p>This application was created for makeup artists like you to create and store your clients information!</p>