
<h2>Welcome <%= @user.username %>!<h2>

<nav>
    <ul>
        <li>
            <a href="/clients">My Clients</a>
        </li>
        <li>
            <a href="/clients/new">Create New Client</a>
        </li>
        <li>
             <a href="/">Log Out</a>
        </li>
    </ul>
</nav>