


<div class="signup">
    <div class="signup__window">
        <h2>New User</h2>
        <form action="/users/signup" method="POST">
            <label>
                <p>Username</p>  
                <input type="text" name="username" id="username" required> 
            </label> 
            <label> 
                <p>Password</p>
                <input type="password" name="password" id="password" required>
            </label> 
            <button class="button">Sign In</button>
        </form>
          <% if flash[:error] %>
            <h3 style="color:red;"><%= flash[:error] %>
          <% end %>

    </div>
</div>