<h2>
<form action='/appointments' method="POST">
Client Name: <input type=text name="name"><br>
Email: <input type=text name="email"><br>
Look:
<select name="event">
<option value="Formal Affair" selected>Formal Affair</option>
<option value="Photo Session">Photo Session</option>
<option value="Day Look">Day Look</option>
<option value="Night Out">Night Look</option>
</select><br>
Rate: $<input type="number" name="rate"><br>
<input type=submit value="Book Appointment">
</form>
</h2>



