<div class="welcome">
    <div class="welcome__window">
        <h1 class="welcome__title">Welcome to Beautify Me!</h1>

        <p class="welcome__subtitle">Created for the makeup artist to create and store their client's information.</p>
        <div class="welcome__buttons">
        <a class="button" href="/users/signup">Sign Up</a>
        <a class="button" href="/users/login">Log In</a>
        </div>
    </div>
</div>