<h1 class="welcome">Welcome to Beautify Me!</h1>

<p>Created for the makeup artist to create and store their client's information.</p>
<a href="/users/signup">Sign Up!</a><br>
<a href="/users/login">Log In</a>